@tailwind base;
@tailwind components;
@tailwind utilities;


.rbc-toolbar .rbc-btn-group {
  display: none;
}

.rbc-calendar .rbc-toolbar {
  background-color: #283c63;
  color: white;
  margin-bottom: 0px;
}

.rbc-calendar .rbc-month-header {
  background-color: #a0afd5;
}